
<div class="home-grid">
  <h2><%= @random_word %></h2>
</div>

<div class="wrapper">
  <form action="/score">
    <div class="form-group">
      <input class="form-control text-center" id="answer" onblur="this.placeholder = 'Type in your best guess'" onfocus="this.placeholder = ''" type="text" name="answer" placeholder="Type in your best guess" >
    </div>
    <input type="hidden" id="endTime" name="end_time" value="">
    <input type="hidden" name="start_time" value="<%= Time.now.to_i %>">
    <input type="hidden" name="grid" value="<%= @random_word %>">
    <input class="btn btn-secondary" id="submit-answer" type="submit" value="Go">
  </form>
</div>

<script>
  $('form').on('submit', function(event) {
    event.preventDefault();
    $('#endTime')[0].value = Date.now() / 1000;
    $(this).unbind('submit').submit();
  })
</script>
